body
    +light
    color: #262626
img
    max-width: 100%

.section
    padding: 100px 0
    &-title
        font-size: 30px
        +bold
        text-align: center
        text-transform: uppercase
    &__title
        margin-bottom: 100px
.button-o
    color: #361e18
    background-color: transparent
    text-transform: uppercase
    border: 2px solid #a1795a
    padding: 17px 21px
    font-size: 12px
    cursor: pointer
    +bold 

.button
    padding: 20px 25px
    text-transform: uppercase
    border: none
    background-color: #a1795a
    color: #fff
    cursor: pointer
    text-decoration: none
    +bold 
    &-fitting
        color: $main-color
        background-color: #fff
    &-add
        background-color: lighten($main-color, 10%)
        color: #ffffff
    &-like
        background-color: $main-color
        height: 30px
        border: none  
        width: 30px
        padding-top: 5px

.bg-second
    background: $bg-second

.input
    height: 60px
    width: 100%
    padding-left: 30px
    border: 1px solid #dddddd

input[type="checkbox"]
    display: none
    &:checked + label:before
        background-color: red
.checkbox
    &-label
        display: flex
        align-items: center
        margin-right: 30px
        &:hover
            cursor: pointer
        &::before
            content: ''
            width: 25px
            height: 25px
            border: 1px solid #dddddd
            display: inline-block
            margin-right: 20px

@media (max-width: 768px)
    .checkbox
        &-label
            margin-right: 15px

@media (max-width: 576px)
    .button-o
        font-size: 12px
        padding: 15px 18px
    .section
        padding: 60px 0
        &__title
            margin-bottom: 60px
        &-title
            font-size: 24px