.preloader
	position: fixed
	top: 0
	left: 0
	bottom: 0
	right: 0
	background-color: #151515
	z-index: 99999
@mixin opacity($opacity)
	opacity: $opacity / 100
	filter: alpha(opacity=$opacity)
.pulse
	position: relative
	left: 50%
	top: 50vh
	margin:
		left: -40px
		top: -40px
	&:before, &:after
		content: ''
		border: 5px solid #323232
		width: 80px
		height: 80px
		border-radius: 500px
		position: absolute
	&:before
		animation: pulse-outer .8s ease-in infinite
	&:after
		animation: pulse-inner .8s linear infinite
@keyframes pulse-outer
	0%
		@include opacity(100)
	50%
		@include opacity(50)
	100%
		@include opacity(0)

@keyframes pulse-inner
	0%
		transform: scale(0)
		@include opacity(0)
	100%
		transform: scale(1)
		@include opacity(100)


body
    +light
    color: #262626

img
    max-width: 100%
 
.section
    padding: 100px 0
    &-title
        font-size: 30px
        +bold
        text-align: center
        text-transform: uppercase
    &__title
        margin-bottom: 100px
.button-o
    color: #361e18
    background-color: transparent
    text-transform: uppercase
    border: 2px solid #a1795a
    padding: 17px 21px
    font-size: 12px
    cursor: pointer
    +bold 
    text-decoration: none


.button
    padding: 20px 25px
    text-transform: uppercase
    border: none
    background-color: #a1795a
    color: #fff
    cursor: pointer
    text-decoration: none    
    +bold 
    &-fitting
        color: $main-color
        background-color: #fff
    &-add
        background-color: lighten($main-color, 10%)
        color: #ffffff
    &-like
        background-color: $main-color
        height: 30px
        border: none  
        width: 30px
        padding-top: 5px

.bg-second
    background: $bg-second

.input
    height: 60px
    width: 100%
    padding-left: 30px
    border: 1px solid #dddddd

input[type="checkbox"]
    display: none
    &:checked + label:before
        background-color: $main-color
.checkbox
    &-label
        display: flex
        align-items: center
        margin-right: 30px
        &:hover
            cursor: pointer
        &::before
            content: ''
            width: 25px
            height: 25px
            border: 1px solid #dddddd
            display: inline-block
            margin-right: 20px
.top
	position: fixed
	bottom: 25px
	background-color: #E0E0E0
	border-radius: 10em
	color: #666
	font-size: 26px
	width: 50px
	height: 50px
	line-height: 50px
	text-align: center
	cursor: pointer
	transition: all .25s ease
	right: -100px
	z-index: 12
	opacity: .5
	&.active
		right: 50px
	i
		line-height: 0
	&:hover
		color: #fff
		background-color: $main-color
		opacity: 1

@media (max-width: 768px)
    .checkbox
        &-label
            margin-right: 15px

@media (max-width: 576px)
    .button-o
        font-size: 12px
        padding: 15px 18px
    .section
        padding: 60px 0
        &__title
            margin-bottom: 60px
        &-title
            font-size: 24px