.navbar
    overflow: hidden
    position: fixed
    left: 0
    top: 0
    width: 100%
    background-color: #fff
    z-index: 999
    border-bottom: 1px solid rgba(161, 121, 90, 0.1)
    &-wrap
        display: flex
        align-items: center
        justify-content: space-between
    &__mobile, &__landline
        text-align: right
    &__phone
        font-size: 19px
        +bold 
        display: block
        color: #262626
        margin-bottom: 5px
        text-decoration: none
    &__small-text
        color: #7b7b79
        font-size: 14px
        text-decoration: none   
        display: block
.menu
    z-index: 2222
    position: fixed        
    width: 100%
    left: 0
    top: 80px
    padding: 16px 0
    background-color: $main-color
    transition: 0.1s
    opacity: 0
    color: #fff
    &_active
        opacity: 1
    &__nav
        display: flex
        align-items: center
        justify-content: space-around
    &__link
        text-decoration: none
        text-transform: uppercase
        font-size: 14px
        color: #ffffff
    &-button
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        background-color: transparent
        border: none
        border-right: 1px solid rgba(#a1795a, .1)
        border-left: 1px solid rgba(#a1795a, .1)
        height: 80px
        width: 70px
        cursor: pointer
        &:focus
            outline: none
        &__line
            width: 20px
            height: 3px
            background-color: #a1795a
            margin: 2px 0
.logo
    &__text
        display: block
        font-size: 18px
        text-transform: uppercase
        margin-bottom: 5px
        +bold 
    &__description
        display: block
        font-size: 14px
        color: #6b6b6b

@media (max-width: 991px)
    .navbar
        &__mobile, &__landline
            display: none
    .menu
        &__link 
            font-size: 12px
@media (max-width: 776px)
    .logo
        text-align: center
    .menu
        top: 60px
        &-button
            height: 60px    
        &__nav
            flex-direction: column
        &__link 
            margin-bottom: 20px
            font-size: 14px
@media (max-width: 420px)
    .logo
        display: none
